@import 'colors.scss';
$bg: $background;
$bgDarker: mix($background, #000, 90%); // for sidebars and titlebars
$colorUrgent: $color4; // for new messages notificatinons and the alike
$colorAccent: $color1; // "encourages user interaction", I just copied from android colors
$fg: $foreground; // text color
