@import 'colors.scss';
$bg: $background;
$bgDarker: mix($background, #000, 90%); // for secondary menus and variation
$colorUrgent: $color3; // for new messages, notifications and urgent prompts
$colorAccent: $color5; // primary colour for accenting details
$colorHighlight: $color6; // for highlighting and complementing the accent color
$fg: $foreground; // text color
  
// additional colors for syntax highlight variation
$syntaxOne: $color1;
$syntaxTwo: $color2;
$syntaxThree: $color4;
